body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131921;
  color: white;
  padding: 10px 20px;
}

.navbar input {
  width: 40%;
  padding: 7px;
  border-radius: 5px;
  border: none;
}

.navbar a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

/* Products */
h1 {
  text-align: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #ff9900;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.categories {
  text-align: center;
  margin: 10px;
}

.categories button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #232f3e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.categories button:hover {
  background: #ff9900;
}
